{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simplify Your Day</h1>
            <p>Welcome to <b>Taylor's To-Do App</b>! Life can be enjoyable. However, life can also get quite busy. So, I have created this simple To-Do App to <b>help you do what needs to be done</b>. Feel free to use this app however you see fit. What have you got to lose? It's Free!</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
